@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #fff;
  --color-accent: #f5c518;
  --color-background: #000;
  --color-foreground: #1b1b1b;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-background text-primary font-sans;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

.bookmark {
  clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
}
