@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #fff;
  --color-accent: #f5c518;
  --color-background: #000;
  --color-foreground: #1b1b1b;
}

body {
  @apply bg-background text-primary font-sans;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

.bookmark {
  clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
}
